<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <body>
    <%- include('./partials/header') %>
    <main>
    <div class="container b-gris">
        <div class="contenedor-comprados shadow1 border-r b-blanco">
            <h1 class="titulo-carrito c-azul">Productos</h1>
            <% for (let i = 0; i < productos.length; i++) { %>
                <ul class="detalle-comprado">
                <li class="titulo-comprado b-rosa"><span class="curso-comprado"><%= productos[i].curso.name %></span></li>
                <div class="comprado-info">
                <li class="categoria-compra c-celeste">Categoria</li>
                <li class="precio-compra"><%= productos[i].curso.precio %></li>
                </div>
                <li>
                    <form action="/products/eliminarproducto" method="POST">
                        <button type="submit"><img src="/images/trash.svg" alt="boton eliminar"><button>
                        <input class="none" type="number" value="<%= productos[i].id_producto %>" name="producto_id">
                    </form>
                </li>
                </ul>
             <% } %>
             
        <div class="monto-total">
        <p class="total c-ATransparente">Total</p>
        <p class="cantidad-total c-azul">
            <% let total = 0; %>
            <% for(let j = 0; j < productos.length; j++) { %>
                <% total = total + productos[j].curso.precio; %>
            <% } %>
            <%= total %>
        </p>
        </div>
        </div>
    <div class="detalle-pago shadow1 b-blanco border-r">
        <div class="contenedor-pago">
            <form class="form-pago" action="/users/confirmation" method="POST">
                <script
                src="https://checkout.stripe.com/checkout.js" 
                class="stripe-button"
                data-key="pk_test_51HA5JWAQkSZ0OTSUW5doH9eHyQOefjURhoH1TEy9SI4JBSPMpWlzwTW8WMdLEma4Ixj9gYpvnjAvFHPaG9yVOV3t001z2uBeo9"
                data-amount="TOTAL"
                data-name="Cursala"
                data-description="Ingresa tus datos para la compra"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
                </script>
                <script>
                    document.getElementsByClassName('stripe-button-el')[0].style.display='none';
                </script>
                <button class="boton-pago border-r c-blanco b-celeste" type="submit">Realizar pago</button>
            </form>
        </div>
    </div>
    </div>
    </main>
    </body>
</html>