<!DOCTYPE html>
<html>
<%- include('./partials/head'); %>

<body>
  <%- include('./partials/header'); %>

  <div class="container-cursos">

    <h1>Nuestros Cursos</h1>
    <ul>
      <% for (let i=0; i< products.length; i++){ %>
        <h3>
          <a href="/products/<%= products[i].id %>"><%= products[i].name %></a>
        </h3>
        <p>
          <%= products[i].descripcion %>
        </p>
        <p>
          <img src="/images/pesos.svg" alt=""><%= products[i].precio %>
        </p>
        <% } %>
      </ul>
    </div>
  </body>
  </html>