<!DOCTYPE html>
<html>
  <%- include('./partials/head'); %>
<body>
  <div class="container">
    <div class="register-container">
      <div class="register">
        <div class="circle-logo">
          <img src="/images/logo.png" alt="Logo-Cursala">
        </div>
        <h2>No tengo cuenta</h2>
        <form action="" method="POST" enctype="multipart/form-data">
          <div><%= errors.nombre ? errors.nombre.msg: '' %></div>
          <input type="text" name="nombre" placeholder="Nombre" value="<%= body.nombre ? body.nombre: ''%>">

          <div><%= errors.email ? errors.email.msg: '' %></div>
          <input type="email" name="email" placeholder="Email" value="<%= body.email ? body.email : ''%>">

          <div><%= errors.password ? errors.password.msg: '' %></div>
          <input type="password" name="password" placeholder="Contraseña">

          <input type="password" name="password2" placeholder="Confirma contraseña">

          <p>Foto de perfil</p>
          <div><%= errors.imagen ? errors.imagen.msg: '' %></div>
          <input type="file" name="imagen">

          <input type="submit" name="submit" class="submit" value="REGISTRARME">
        </form>
      </div>
      <div class="login">
        <h2>Ya tengo cuenta</h2>
        <button class="correo"><i class="fas fa-envelope"></i> Acceder con Correo</button>
        <div class="login-items">
          <a href="#"><img class="register_media" src="/images/registro_facebook.png" alt="registro twitter"></a>
          <a href="#"><img class="register_media" src="/images/registro_twitter.png"></a>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>