<!DOCTYPE html>
    <html>
         <%- include('../partials/head'); %>
    <body>
    <div class="container b-gris">
        <%- include('../partials/header'); %>
            <div class="detalle-titulo shadow1 b-blanco">
                <div class="header-detalle">
                <h2 class="titulo c-azul">< <%= product.name %> ></h2>
                <img class="detalle-ilustracion" src="/images/ilus-html.svg" alt="ilustracion html">
                </div>
            </div>
        <div class="container-rutas">
            <h3 class="titulo2">Contenidos del curso</h3>
                <div class="ruta-aprendizaje shadow1 b-blanco">
                    <ul class="rutas">
                        <li class="flex-r"><p class="detail-description"><%= product.descripcion %></p></li>
                    </ul>
                </div>
        </div>
            <div class="detalle-resumen b-blanco shadow1 border-r">
                <ul>
                    <li class="flex-r"><p class="detail-description"><%= product.descripcion %></p></li>
                        <p class="incluye c-azul">Este curso incluye: </p>
                    <li class="flex-r"><img class="detalle-icon" src="/images/reloj.svg"><p>Horas de video: <%= product.horas %></p></li>
                    <li class="flex-r"><img class="detalle-icon" src="/images/marketing.svg"><p>Categoria: <%= product.category.name %></p></li>
                    <li class="flex-r"><img class="detalle-icon" src="/images/ejercicios.svg"><p>Ejercicios disponibles:<%= product.ejercicios %></p></li>
                    <li class="flex-r"><img class="detalle-icon" src="/images/download.svg"><p>Recursos descargables</p></li>
                    <li class="flex-r"><p class="costo c-azul">$<%=product.precio %></p></li>
                    <li class="flex-r"><a id="btn-carrito" class="cart-button b-rosa c-blanco border-r" href="#" data-productoId="<%=product.id %>">+ Agregar al carrito</a></li>
                </ul>
            </div>
    <script src="/javascripts/carrito.js"></script>
    </div>
    </body>