<!DOCTYPE html>
    <html>
         <%- include('../partials/head'); %>
    <body>
    <div class="container b-gris">
        <%- include('../partials/header'); %>
            <div class="detalle-titulo shadow1 b-blanco">
                <h2 class="titulo"><%= product.name %></h2>
                <img class="detalle-ilustracion" src="/images/ilus-html.svg" alt="ilustracion html">
            </div>
        <div class="container-rutas">
            <h3 class="titulo2">Contenidos del curso</h3>
                <div class="ruta-aprendizaje shadow1 b-blanco">
                    <ul class="rutas">
                        <li>Sintaxis HTML</li>
                        <li>Etiquetas meta y de seccion</li>
                        <li>Etiquetas a nivel texto</li>
                        <li>Contenedio embebido</li>
                        <li>Atributos</li>
                        <li>Etiquetas nuevas y obsoletas</li>
                        <li>Enlaces y tipos de rutas</li>
                        <li>Anclas o Marcadores</li>
                        <li>Formularios</li>
                        <li>Imagenes dinamicas</li>
                        <li>Meta viewport</li>
                        <li>API's HTML</li>
                    </ul>
                </div>
        </div>
            <div class="detalle-resumen b-blanco shadow1 border-r">
                <ul>
                    <li><img class="detalle-icon" src="/images/reloj.svg"><p><%= product.horas %></p></li>
                    <li><p><%= product.descripcion %></p></li>
                    <li><img class="detalle-icon" src="/images/marketing.svg"><p><%= product.category.name %></p></li>
                    <li><img class="detalle-icon" src="/images/ejercicios.svg"><p><%= product.ejercicios %></p></li>
                    <li><img class="detalle-icon" src="/images/pesos.svg"><p><%= product.precio %></p></li>
                </ul>
                <a href=""><img class="detalle-icon" src="/images/cart.svg">Agregar al carrito</a>
                <div class="admin">
                <a href="/products/edit/<%= product.id %>">Editar</a>
                </div>
    
            
            </div>

    </div>
    </body>