<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    
    <div class="b-register container-carga">
        <div class="register-container b-blanco shadow1 carga-form border-r">
            <div class="register">
                <div class="circle-logo b-register carga-logo">
                    <img src="/images/logo.png" alt="Logo-Cursala">
                </div>
                <h1>Editar Curso</h1>
                <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" class="form-create">
                    <div style="color: red;"><%= errors.name ? errors.name.msg: '' %></div>
                    <label for="nombre">Nombre del curso</label>
                    <input type="text" name="nombre" value="<%= product.name %>">
                    <div style="color: red;"><%= errors.descripcion ? errors.descripcion.msg: '' %></div>
                    <label for="descripcion">Descripcion del curso</label><br>
                    <textarea id="descripcion" name="descripcion"><%= product.descripcion %></textarea><br>
                    
                    <label for="categories">Categoria</label>
                    <select name="categories" id="category">
                        <% for(let i=0; i < category.length; i++) { %>
                            <% if(category[i].id == product.id_category) { %>
                                <option value="<%= category[i].id %>" selected>
                                    <%= category[i].name %>
                                </option>
                                <% } else { %> 
                                    <option value="<%= category[i].id %>">
                                        <%= category[i].name %>
                                    </option>
                                    <% } %>
                                    
                                    <% } %>
                                </select><br>
                                
                                <label for="horas">Cantidad de horas</label>
                                <input type="text" name="horas" value="<%= product.horas %>" required>
                                
                                <label for="apuntes">Cantidad de ejercicios</label>
                                <input type="text" name="ejercicios"value="<%= product.ejercicios %>" required>
                                
                                <div style="color: red;"><%= errors.precio ? errors.precio.msg: '' %></div>
                                <label for="number">Precio</label>
                                <input id="precio" type="text" name="precio" value="<%= product.precio %>" required>
                                
                                <div class="container-carga">
                                    <a href="/users/admin/administracion_home"><button id="submitb">Dashboard</button></a>
                                    <a href="/products/edit/<%= product.id %>"><button id="submitb" type="submit">EDITAR</button></a>
                                </div>
                            </div>
                        </form>

                        <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                            <button id="submitb" type="submit">ELIMINAR</button>
                        </form>
                        
                    </div>
                </div>
            </div>
            
            
        </body>
        </html>