<!DOCTYPE html>
<html>
<title><%= title %></title>
<%- include('../partials/head'); %>
<body>  
  <%- include('../partials/header'); %>

  <div class="b-register container-carga">
    <div class="carga-form b-blanco shadow1">
      <div class="register">
        <div class="circle-logo b-register carga-logo">
          <img src="/images/logo.png" alt="Logo-Cursala">
        </div>
        <form action="/products/create" method="POST" class="form-create">
          <label for="nombre">Nombre del curso</label>
          <input type="text" name="nombre" placeholder="Nombre del curso" required>
          <label for="descripcion">Descripcion del curso</label><br>
          <textarea placeholder="Acerca de este curso..."name="descripcion" id="descripcion" cols="100" rows="8"></textarea><br>
          
          <label for="categories">Categoria del curso</label>
          <select class="b-gris c-azul" name="categories" id="category">
            <option value="">Elige una</option><br>
            <% for(let category of categories ) { %>
              <option value="<%= category.id %>"><%= category.name %></option>
              <% } %>
            </select><br>
            
            <label for="horas">Cantidad de horas</label>
            <input type="text" name="horas" placeholder="Ej. 140 total horas">
            
            <label for="apuntes">Cantidad de ejercicios</label>
            <input type="text" name="ejercicios" placeholder="Ej. 50 ejercicios practicos">
            
            <label for="number">Precio</label>
            <input type="text" name="precio" placeholder="$" required>

            <div class="container-carga">
            <a href="/users/admin/administracion_home"><input type="button" id="submitb" value="Dashboard"></a>
            <input type="reset" name="reset" id="submitb" value="BORRAR">
            <input type="submit" name="submit" id="submitb" value="ENVIAR">
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </body>
  </html>