<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Detalle de <%= product.name %></h1>
  <form action="/<%= product.id %>?_method=PUT" method="POST">
    <label for="nombre">Nombre del curso</label>
    <input type="text" name="nombre" placeholder="Nombre del curso" value="<%= product.nombre %>">
    <textarea name="descripcion" id="descripcion" cols="30" rows="4" value="<%= product.descripcion %>"></textarea>
    
    <label for="categories">Categorias</label>
    <select name="categories" id="category">
      <option value="">--Selecciona--</option>
      <% for(let category of categories ) { %>
        <option value="<%= category.id %>" 
          <%= category.name %>
        </option>
          <% } %>
        </select>
        
        <label for="horas">Cantidad de horas</label>
        <input type="text" name="horas" placeholder="Hs del curso" value="<%= product.horas %>">
        
        <label for="apuntes">Apuntes disponibles</label>
        <input type="text" name="apuntes" placeholder="Apuntes disponibles" value="<%= product.apuntes %>">
        
        <label for="apuntes">Cantidad de ejercicios</label>
        <input type="text" name="ejercicios" placeholder="Cantidad ejercicios" value="<%= product.ejercicios %>">
        
        <label for="number">Precio</label>
        <input type="text" name="precio" placeholder="Precio" value="<%= product.precio %>">
        <input type="submit" name="delete" value="ELIMINAR">
        <input type="submit" name="guardar" value="GUARDAR">
        
      </form>
      
      <a href="/products/edit/<%= product.id %>">
        <button>Editar Producto (ADMIN)</button>
      </a>
      <form action="/products/delete/<%= product.id %>" method="POST">
        <input type="submit">Eliminar Producto (ADMIN)</input>
      </form>
      
      
    </body>
    </html>
    